fastapi
uvicorn
sqlmodel
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
argon2-cffi
aiosqlite
asyncpg
python-multipart
gunicorn
email-validator
requests
httpx
Pillow
aiofiles
# bcrypt
duckduckgo-search
